*{
    box-sizing: border-box;
}
.full-left{

    position: relative;
    z-index: 2;
    background-color: white;
    }
body{
        padding-right: 0 !important;
        overflow: scroll !important;
    }
